:root {
    --cor-padrao-texto: #667085;
    --cor-padrao-vermelho: #8E2424;
    --cor-padrao-cinza: #101828;

    --fonte-padrao: "Inter", sans-serif;
}

body {
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 500;
    color: var(--cor-padrao-texto);
    line-height: 24px;
}

.container-header {
    display: flex;
    width: auto;
    height: 80px;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
}

.menu-navegacao {
    display: flex;
    gap: 40px;
}

.container-header a {
    text-decoration: none;
    color: var(--cor-padrao-texto);
}

.botoes-login {
    display: flex;
    gap: 12px;
    align-items: center;
}

.botoes-login .botao-cadastrar {
    background: var(--cor-padrao-vermelho);
    color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 18px;
    border: none;
    font-family: var(--fonte-padrao);
    cursor: pointer;
}

.cabecalho {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.subtitulo-cabecalho {
    color: var(--cor-padrao-vermelho);
    font-weight: 600;
}

.titulo-cabecalho {
    font-size: 3rem;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: var(--cor-padrao-cinza);
}

.texto-cabecalho {
    width: 791px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.metricas {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px 96px 0px;
    gap: 64px;
}

.metricas-container{
    display: flex;
    align-items: initial;
    padding: 0 32px;
    gap: 32px;
}

.metricas-projetos, .metricas-colaboradores, .metricas-downloads, .metricas-reviews {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    gap: 20px;
}

.numero-metricas {
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: var(--cor-padrao-vermelho);
}

.texto-metricas {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 28px;
    color: var(--cor-padrao-cinza);
}

.descricao-metricas {
    font-weight: 400;
}

.vagas {
    display: flex;
    flex-direction: column;
    padding: 96px 0;
    gap: 64px;
}

.destaque-vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talentos {
    display: flex;
    padding: 0 32px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.cabecalho-talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.texto-talentos {
    font-size: 0.875rem;
    background-color: rgba(142, 36, 36, 0.05);
    line-height: 20px;
    color: var(--cor-padrao-vermelho);
    padding: 4px 12px;
    border-radius: 16px;
}

.titulo-talentos {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: var(--cor-padrao-cinza);
}

.descricao-talentos {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
}

.vagas-abertas {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    gap: 64px;
}

.container-vagas {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    gap: 64px;
}

.caixa-job {
    display: flex;
    flex-direction: column;
    padding: 0 256px;
    gap: 32px;
}

.titulo-vaga {
    font-size: 1.25rem;
    line-height: 30px;
    color: var(--cor-padrao-cinza);
}

.itens-vagas {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.caixa-itens-vagas {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 28px 24px;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid #EAECF0
}

.tipo-vaga {
    font-size: 1.125rem;
    line-height: 28px;
    color: var(--cor-padrao-cinza);
}

.detalhes-vaga {
    display: flex;
    gap: 24px;
}